@import url('https://fonts.googleapis.com/css?family=Lato|Roboto&display=swap');

@font-face {
    font-family: "Grobold";
    font-display: swap;
    src: url(/grobold.ttf) format("truetype");
}

nav {
    height: 6.5rem;
    background-color: white;
}

.container.is-hidden-touch {
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.outer .container.is-hidden-touch {
    text-align: center;
}


h1.nav-title {
    font-family: "Grobold", Arial;
    font-size: 40px;
    margin-top: .5rem;
    margin-left: .3rem;
    color: #1976D2;
}

.darkmode h1.nav-title {
    color: white;
}

nav img {
    height: 3.3rem;
    width: 3.3rem;
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

nav a {
    color: black;
    transition: color .15s ease-in-out;
}

nav a:hover {
    color: #1976D2
}

.darkmode nav a:hover {
    color: #A3C1DF;
}

nav .flat {
    display: flex;
    flex-direction: row;
    justify-content: right;
}

nav .flat p {
    margin-right: 28px;
    margin-top: 1.65rem;
}

nav .flat p:first-of-type {
    margin-left: auto;
}

.outer {
    background-color: #1976D2;
    border-radius: 25px;
    width: calc(100% - 30px);
    margin-left: auto;
    margin-right: auto;
    min-height: 1000px;
    transform: translateY(45px);
    opacity: 0;
    user-select: none;
    transition: .8s ease all;
}

.outer.active {
    transform: none;
    user-select: text;
    opacity: 1;
}

h1.intro {
    text-align: center;
    font-family: 'Roboto';
    color: transparent;
    font-size: 1px;
    margin-bottom: 5rem;
    transition: all .5s cubic-bezier(.18, .88, .43, 1.21)
}

h1.intro.active {
    font-size: 47px;
    color: white;
}

h2.intro {
    text-align: center;
    font-family: 'Roboto';
    color: #1976D2;
    font-size: 40px;
    margin-top: 2rem;
    margin-bottom: 4rem;
}

.explore-more-effect {
    transform: translateY(50px);
}

.explore-more-effect a {
    color: transparent;
    transition: color 1s ease;
}

.explore-more-effect a:hover {
    color: transparent;
}

.explore-more-effect.active a {
    color: #A3C1DF;
    margin-top: 20px;
    display: inline-block
}

.explore-more-effect.active a:hover {
    color: white
}

.explore-more-effect.active {
    transform: none;
}

h2.explore-more {
    text-align: center;
    font-family: 'Roboto';
    font-size: 36px;
    margin-top: 3rem;
    color: transparent;
    transition: all ease-in 1s;
}

.explore-more-effect.active h2.explore-more {
    color: white;
}

.explore-more-button {
    text-align: center;
    background-color: transparent;
    width: max-content;
    margin-left: auto;
    margin-right: auto;
    padding: 15px 16px;
    color: transparent;
    font-family: "lato";
    font-size: 39px;
    border-radius: 13px;
    margin-top: 2rem;
    cursor: pointer;
    transition: all ease-in 1s, color .4s ease;
}

.explore-more-effect.active .explore-more-button {
    box-shadow: 1px 3px 6px 0px rgba(0, 0, 0, 0.5);
    color: #1976D2;
    background-color: white;
}

.gallery {
    min-height: 340px;
}

.gallery .promote-card {
    max-width: 322px;
    border-radius: 13px;
    border: 4px white solid;
    height: 100%;
    box-shadow: 1px 3px 6px 0px rgba(0, 0, 0, 0.5);
    text-align: center;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    transform: translateY(50px);
    background-color: transparent;
    border: none;
    box-shadow: none;
    transition: ease 2s all;
    transition-delay: 0s;
}

.promote-card.active {
    transform: none;
    background-color: white;
    box-shadow: 1px 3px 6px 0px rgba(0, 0, 0, 0.5);
}

.promote-card.second {
    transition-delay: .3s;
}

.promote-card.third {
    transition-delay: .6s;
}

.darkmode .gallery .promote-card.active {
    background-color: #4a4a4a;
    border: none;
    box-shadow: 5px 8px 6px 0px rgba(0, 0, 0, 0.5);
}

.darkmode .gallery .promote-card.active .card-icon {
    transition: ease 2s all;
    color: white;
}
.gallery .promote-card.active .promote-button {
    transition: ease 2s all;
    transition-delay: .35s;
    color: transparent;
    background-color: transparent;
}
.gallery .promote-card.active .promote-button {
    background-color: #1976D2;
    color: white

}

.darkmode .gallery .promote-card.active .promote-button {
    background-color: white;
    color: #1976D2
}

.gallery .promote-card {
    margin-left: auto;
    margin-right: auto;
}

.gallery .promote-card .card-icon {
    margin-top: 50px;
    color: #1976D2;
}

.gallery .promote-card .promote-button {
    height: 80px;
    padding: 10px 18px;
    width: max-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    color: transparent;
    font-family: "lato", Arial;
    font-size: 40px;
    border-radius: 13px;
    background-color: #1976D2;
    transition: ease 2s all;
}

body .footer {
    margin-top: 4rem;
    background-color: white;
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
    display: flex;
}

body.darkmode .footer {
    background-color: #4a4a4a
}

.footer h1 {
    width: max-content;
    padding-right: 20px;
    border-right: 1px solid #F0EAE7;
}

.footer .container .column.is-half:first-of-type {
    display: flex !important;
}

.footer .container .column.is-half:first-of-type i {
    margin-left: 20px;
    margin-top: 20px;
    color: #1976D2;
    cursor: pointer;
    transition: color .2s ease;
}

.footer .container .column.is-half:nth-of-type(2) {
    text-align: right;
    margin-top: 20px;
    margin-right: 20px;
}

.footer .container .column.is-half:nth-of-type(2) span {
    cursor: pointer;
    transition: color .1s ease-in-out;
}

.footer .container .column.is-half:nth-of-type(2) span:hover {
    color: #1976D2
}

.darkmode .footer .container .column.is-half:nth-of-type(2) span:hover {
    color: #A3C1DF;
}

.footer .container .column.is-half:first-of-type i.fa-github-square:hover {
    color: black;
    transition: color .1s ease-in-out;
}

.footer .container .column.is-half:first-of-type i.fa-twitter-square:hover {
    color: #1da1f2;
    transition: color .1s ease-in-out;
}

.footer .container .column.is-half:first-of-type i.fa-discord {
    margin-top: 20.75px;
}

.footer .container .column.is-half:first-of-type i.fa-discord:hover {
    color: #7289DA;
    transition: color .1s ease-in-out;
}

.footer .container .column.is-half:first-of-type i.fa-reddit-square:hover {
    color: #ff5700;
    transition: color .1s ease-in-out;
}

hr {
    background-color: #F0EAE7;
    height: 1px;
    margin-top: -3px;
}

.color-blue {
    color: #1da1f2
}

.fa-times-circle {
    left: -5px;
}

.fa-times-circle::before {
    opacity: .4 !important;
    color: #1976D2 !important;
}

.fa-times-circle::after {
    opacity: 1 !important;
    color: #1976D2 !important;
}

.tags span:first-of-type {
    margin-right: 20px;
}

.tags .tag {
    margin-top: 0.4rem;
    margin-bottom: 0;
}

.search {
    color: #1976D2;
    opacity: 0.4
}

.search input {
    border: none;
    font-size: 1em;
    color: #1976D2
}

.search i {
    opacity: 1;
}

.row {
    border-top: solid #F0EAE7 1px;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.row .column.is-one-fifth {
    display: flex;
    flex-direction: row;
}

.row .column.is-one-fifth i.fa-caret-square-down {
    margin-left: auto;
    margin-right: 0;
}

.row .column i.fa-caret-square-down::before {
    opacity: 0.4 !important;
    color: #1976D2 !important;
}

.row .column i.fa-caret-square-down::after {
    opacity: 1 !important;
    color: #1976D2 !important;
}

.command-title {
    font-size: 20px;
    margin-left: 2rem;
}

.description {
    color: black;
    opacity: 0.6;
}

.row .extra-content {
    margin-left: 2.4rem;
    margin-top: -1rem;
    max-height: 0;
    overflow: hidden;
    transition: max-height .25s ease-in-out
}

.row i.fa-caret-square-down {
    transform: rotateX(0deg);
    transition: transform .25s ease-in-out;
}

.row.selected i.fa-caret-square-down {
    transform: rotateX(180deg);
}

.row.selected .extra-content {
    max-height: 500px;
}

.extra-content ul {
    margin-top: 1rem;
}

label, input {
    color: white;
    margin-top: 20px !important;
}

body.darkmode {
    background-color: #4a4a4a
}

.darkmode nav {
    background-color: #4a4a4a;
}

.darkmode nav a {
    color: white;
}

.darkmode .scroll {
    color: white;
}
